<h1>Display your Pirates here</h1>

<%= @pirate.name %>

<h2>Ships</h2>
<ul>
	<% @pirate.ships.each do |ship| %>
		<li>Name: <%= ship.name %></li>
		<li>Type: <%= ship.category %></li>
		<li>Booty: <%= ship.booty %></li>
	<% end %>
	
</ul>